/* Stylesheet */

h1 {
   font-size: 40px;
   color: darkblue;
   text-decoration: underline;
}

/* Link styles */
a:link {
   color: red;
   text-decoration: none;
}

a:hover {
   color: rgb(49, 100, 148);
   text-decoration: underline;
}

a:active {
   color: rgb(33, 9, 106);
   text-decoration: underline;
}

a:visited {
   color: rgb(189, 87, 62);
}

a:visited:hover {
   color: rgb(49, 100, 148);
}