/* Stylesheet */

h1 {
   font-size: 40px;
   color: darkblue;
   text-decoration: underline;
}

/* Link styles */
a:link, a:visited {
   color: rgb(88, 100, 197);
   text-decoration: none;
}

a:hover {
   color: darkblue;
   text-decoration: underline;
}

a:active {
   color: rgb(0, 1, 3);
   text-decoration: underline;
}
